extends layout

block css
  link(rel="stylesheet", href="/css/index.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
block js
  script(type="text/javascript", src="/js/index.js")
  
block content
  .site-header
    .title= title
    .subtitle= subtitle
    .bar
  .-h1 Recent Projects
  each project in projects
    .recent-project
      .title= project.title
      .image-container
        each image in project.images
          .image(class="#{image.classes}", style="background-image: url(#{image.src})")
      .subtitle= project.subtitle
      .description!= project.description
      .-h1 Skills Used 
      .skills-container 
        each skillSet in project.skillSets
          .skill-set
            .title= skillSet.title
            .skills 
              each skill in skillSet.skills
                .skill= skill
  .footer-container 
    .social-row
      .icon.-twitter
        a(href="http://www.twitter.com/theosyslack") 
          i(class="fa fa-twitter")
      .icon.-email
        a(href="mailto:theosyslack@gmail.com") 
          i(class="fa fa-envelope-o")

        
